<template>
  <div class="select-drop" :class="{'select-drop--aberto': abreSelect}" v-click-outside="escondeSelect">
    <button type="button" @click="toggleSelect" class="select-drop__botao">
      <span v-if="!Selecionado" class="select-drop__placeholder">{{ Placeholder }}</span>
      <span class="select-drop__item-selecionado">{{ Selecionado }}</span>
      <div class="select-drop__seta">
        <svg xmlns="http://www.w3.org/2000/svg" width="13.648" height="7.824" viewBox="0 0 13.648 7.824">
          <path class="seta-baixo" d="M5.409,10.819,0,5.41,5.409,0" transform="translate(1.414 6.824) rotate(-90)"/>
        </svg>
      </div>
    </button>
    <ul class="select-drop__lista">
      <li
        v-for="(valor, index) in Opcoes"
        @click="$emit('seleciona', valor)"
        class="select-drop__item-lista"
        v-bind:key="index"
      >
        {{valor[Chave]}}
      </li>
    </ul>
  </div>
</template>
<script>
  import ClickOutside from 'vue-click-outside'
  export default {
    data() {
      return {
        abreSelect: false
      }
    },
    props: [
      "Selecionado",
      "Placeholder",
      "Opcoes",
      "Chave"
    ],
    mounted: function() {
      this.Selecionado
    },
    methods: {
      toggleSelect: function() {
        this.abreSelect = !this.abreSelect;
      },
      escondeSelect: function() {
        this.abreSelect = false;
      },
      seleciona(valor) {
        this.$emit('selecionou', valor)
        this.valorSelecionado = valor[this.Chave]
        this.toggleSelect()
      },
    },
    directives: {
      ClickOutside
    }
  }
</script>
<style lang="scss" scoped>
  .seta-baixo {
    fill:none;
    stroke: #000;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:2px;
  }
  .select-drop {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    background: #fff;
    border-radius: 10px;
    &__seta {
      display: block;
      padding: 0;
      transition: all .3s ease-in-out;
      width: 34px;
      margin: 0;
      justify-self: flex-end;
      position: absolute;
      right: 0;
    }
    &__placeholder {
      color: #ccc;
    }
    &__item-selecionado {
      padding-right: 10px;
    }
    &__botao {
      width: 100%;
      height: 44px;
      padding: 0 22px;
      border-radius: 10px;
      background: transparent;
      border: 1px solid #000;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 14px;
      color: #000;
      &:focus, &:active {
        outline: 0;
      }
    }
    &__lista {
      width: 100%;
      height: auto;
      max-height: 220px;
      overflow-y: auto;
      display: none;
      padding: 0;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      background: #fff;
      border: 1px solid #ccc;
      position: absolute;
      top: 44px;
      z-index: 1;
      font-size: 14px;
    }
      &__item-lista {
        width: 100%;
        display: block;
        align-items: center;
        padding: 15px 23px;
        cursor: pointer;
      &:hover {
        background: #000;
        color: #fff;
      }
    }
    &--aberto {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background: #ccc;
      .select-drop__seta {
        transform: rotate(180deg);
      }
      .select-drop__lista {
        display: block;
        border-top: 0;
      }
      .select-drop__botao {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
      }
    }
  }
</style>